*{
    background-color: red;
}

.pokemonSearchBar {
   
}

.pokemonButton {
    background-color: white;
}

.pokedexTitle {
    padding-left: 32%;
    padding-top: 8%;
}

.pokedexDiv {
    padding-left: 35%;
}