*{
    background-color: red;
}

.pokemonSearchBar {
    background-color: white;
}

.pokemonButton {
    background-color: white;
}

.pokedexTitle {
    padding-top: 10%;
}

.pokedexDiv {
    padding-left: 35%;
}